/* ADD YOUR STYLES HERE */
/* 1. Data Table */
#table1{
	width:100%;
	margin-left:25px;
	
}

.table1-table-row td{
	padding: 5px;
	border-bottom:1px solid #C0C0C0;
}

.table1-table-row:last-child td{
	border-bottom:none;
}
/

/* 2. Stats*/
.instruction-text{
	margin-left:9px;
}

#table2{
	width:100%;
	margin-left: 21px;
}

#table2 td, th{
	padding-top:5px;
	padding-bottom:5px;
	border-bottom: 1px solid #C0C0C0;

}

#table2 .table2-col2{
	padding-left:51px;
	position:absolute;
}

#table2 .table2-col3{
	padding-left: 270px;
}

#table2 .table2-col4{
	padding-right: 90px;
}



#table-stats{
	width:250px;
	margin-left:15px;
}

#table-stats td {
	text-align: center;
}

#table-stats td div:first-child{
	font-size:35px;
	font-weight: bold;
}

#table-stats td div:last-child {
	font-size: 13px;
	color:#C0C0C0;
	padding-right: 10px;
}


/* 3. Bar Chart*/
#bar-chart th{
	border-bottom: hidden;
	text-align: right;
	margin-left: 2%;
	width:200px;

}
#bar-chart div{
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	background-color: cornflowerblue;
	height:26px;


}
#bar-chart td{
	/*width: 100%;*/
	padding-left: 3%;
}

#bar-chart {
	width: 100%;
}

/* 4. Lightbox*/

#light-box{
	background-color: dimgray;
	padding: 10%;
}

.greeting{
	background-color: white;
	border-radius: 8px;
	padding: 3%;
	width: 506px;
	height: 250px;
	margin: 0 auto;
}

.button{
	padding: 10px 40px;
	background-color: pink;
	border-radius: 5px;
	margin:376px;
}